@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
    overscroll-behavior: none;
    font-size: 14px;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0 bg-background text-foreground;
  }
}

